:root {
    --base-grid-size: 20rem;
    --grid-blocks-per-line: 10;
    --base-mini-grid-size: 4rem;
}

.game-grid {
    width: var(--base-grid-size);
    height: calc(2 * var(--base-grid-size));
    display: grid;
    grid-template-columns: repeat(var(--grid-blocks-per-line), 1fr);
    grid-template-rows: repeat(calc(2 * var(--grid-blocks-per-line)), 1fr);
    background-color: coral;
}

.tetromino {
    background-color: greenyellow;
}

.mini-grid {
    height: var(--base-mini-grid-size);
    width: var(--base-mini-grid-size);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: cornflowerblue;
}

.grids-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}