:root {
    --base-grid-size: 20rem;
    --grid-blocks: 10;
}

.game-grid {
    width: var(--base-grid-size);
    height: calc(2 * var(--base-grid-size));
    display: grid;
    grid-template-columns: repeat(var(--grid-blocks), 1fr);
    grid-template-rows: repeat(calc(2 * var(--grid-blocks)), 1fr);
    background-color: bisque;
}

.game-grid div {
    background-color: coral;
}