:root {
    --base-grid-size: 20rem;
    --grid-blocks-per-line: 10;
}

.game-grid {
    width: var(--base-grid-size);
    height: calc(2 * var(--base-grid-size));
    display: grid;
    grid-template-columns: repeat(var(--grid-blocks-per-line), 1fr);
    grid-template-rows: repeat(calc(2 * var(--grid-blocks-per-line)), 1fr);
    background-color: coral;
}

.tetromino {
    background-color: greenyellow;
}